<div class="flex justify-end space-x-4">
	<a href="{{ cancelUrl }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg shadow" title="{{ cancelTitle }}">
		Annuler
	</a>
	<button type="submit" class="bg-cyan-950 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md font-semibold" title="{{ buttonTitle }}">
		{{ buttonTextContent }}
	</button>
</div>

