{# source/Templates/Components/footer.twig #}
<footer class="bg-cyan-950 text-white p-6 mt-auto">
	<div class="container mx-auto text-center">
		<p class="text-lg font-bold uppercase">
			Accéder au code source du projet sur
			<a href="https://github.com/Ange230700/back-office-app" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-400">
				le dépôt GitHub
			</a>
		</p>
	</div>
</footer>
