{# source\Views\templates\navbar.twig #}

<nav role="navigation" class="bg-cyan-950 text-white w-64 p-6">
	<h2 class="text-2xl font-bold mb-6">Littoral propre</h2>
	{% if session.user_id is not defined or session.user_id is empty %}
		<div class="mt-6 flex flex-col items-center">
			<a href="/back-office-app/public/login" class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-lg shadow-md text-center">
				Connexion
			</a>
		</div>
	{% else %}
		<ul>
			<li>
				<a href="/back-office-app/public/collection-list" class="flex items-center py-2 px-3 hover:bg-blue-600 rounded-lg">
					<i class="fas fa-tachometer-alt mr-3"></i>
					Tableau de bord
				</a>
			</li>
			{% if session.role == 'admin' or session.role == 'superAdmin' %}
				<li>
					<a href="/back-office-app/public/collection-add" class="flex items-center py-2 px-3 hover:bg-blue-600 rounded-lg">
						<i class="fas fa-plus-circle mr-3"></i>
						Ajouter une collecte
					</a>
				</li>
			{% endif %}
			<li>
				<a href="/back-office-app/public/volunteer-list" class="flex items-center py-2 px-3 hover:bg-blue-600 rounded-lg">
					<i class="fa-solid fa-list mr-3"></i>
					Liste des bénévoles
				</a>
			</li>
			{% if session.role == 'admin' or session.role == 'superAdmin' %}
				<li>
					<a href="/back-office-app/public/volunteer-add" class="flex items-center py-2 px-3 hover:bg-blue-600 rounded-lg">
						<i class="fas fa-user-plus mr-3"></i>
						Ajouter un bénévole
					</a>
				</li>
			{% endif %}
			{% if session.email != 'admin@admin.admin' and session.email != 'user@user.user' %}
				<li>
					<a href="/back-office-app/public/my-account" class="flex items-center py-2 px-3 hover:bg-blue-600 rounded-lg">
						<i class="fas fa-cogs mr-3"></i>
						Mon compte
					</a>
				</li>
			{% endif %}
		</ul>
		<div class="mt-6 flex flex-col items-center">
			<a href="/back-office-app/public/logout" class="w-full bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg shadow-md text-center">
				Déconnexion
			</a>
		</div>
	{% endif %}
</nav>
